body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: inline-grid;
  grid-template: 200px 200px 200px 200px 200px / 200px 200px 200px 200px 200px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  grid-template-areas: "header header header header header header"
    "header header header header header header"
    "sidebar sidebar nav nav nav nav"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "sidebar sidebar article article article article"
    "footer footer footer footer footer footer"
    "footer footer footer footer footer footer"
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: #FF7755;
}

.nav {
  grid-area:nav;
  background-color: #00DDFF;
}

.article {
  grid-area: article;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-area:footer;
  background-color: #393f4d;
}
